
<!-- Main content here -->
    <div class="main-box">
        <div class="dash-div">

            <div class="text-black">Dashboard</div> </br>

        <div class="top-third">

            <div class="top-third-div">
                <div class="small">Total</div>
                <div class="amount">246K</div>
            </div>
            <div class="top-third-div">
                <div class="small">Uniforms Sold</div>
                <div class="amount">2453</div>
            </div>
            <div class="top-third-div-end">
                <div class="small">Total Earnings</div>
                <div class="amount">$39K</div>
            </div>
        </div>

        <div class="middle-third"></div>

        <div class="lower-third">
            <div class="lower-third-bigger">
                <div class="text top">Teachers on duty</div>
                <div class="duty-bar">
                    <div class="text addPad">Name</div>
                    <div class="text addDoublePad">Phone Number</div>
                    <div class="text addPad">AVAILABILITY</div>
                    <div class="text ">Salary</div>
                </div>
                <div class="fix-table">

                <table>
                    <!-- <thead>
                           <tr>
                        <th scope="col" class="no-pad-left"> <div class="text">Name</div></th>
                        <th scope="col"> <div class="text ">Phone Number&nbsp;&nbsp;</div></th>
                        <th scope="col"> <div class="text">&nbsp;&nbsp;&nbsp;AVAILABILITY</div></th>
                        <th scope="col"> <div class="text">Salary</div></th>
                    </tr>
                    </thead> -->
                 
                    <tbody>
                         <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>
                    <tr>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">Mr Steven T</div></td>
                        <td><div class="phone-num">19953254054</div></td>
                        <td class="add-border"><div class="text">2 days/week</div></td>
                        <td class="same-line"><div class="bullet-box"></div><div class="text">$5000</div></td>
                    </tr>

                    </tbody>
                   

                </table>
            </div>
            </div>


            <div class="lower-third-smaller">
                <div class="text top">Latest news</div>
                 <hr>
                <div class="news-scroller">
                    <div class="news">
                     <div class="news-icon"></div>
                     <div class="text">42 items</div>
                     <div class="right-faint-text">Out of Stock</div>
                 </div>
                 <hr>
                 <div class="news">
                    <div class="news-icon"></div>
                    <div class="text">42 items</div>
                    <div class="right-faint-text">Out of Stock</div>
                </div>
                <hr>
                <div class="news">
                    <div class="news-icon"></div>
                    <div class="text">42 items</div>
                    <div class="right-faint-text">Out of Stock</div>
                </div>
                <hr>
                <div class="news">
                    <div class="news-icon"></div>
                    <div class="text">42 items</div>
                    <div class="right-faint-text">Out of Stock</div>
                </div>
                <hr>
                <div class="news">
                    <div class="news-icon"></div>
                    <div class="text">42 items</div>
                    <div class="right-faint-text">Out of Stock</div>
                </div>
                <hr>
                <div class="news">
                    <div class="news-icon"></div>
                    <div class="text">42 items</div>
                    <div class="right-faint-text">Out of Stock</div>
                </div>
                <hr>
                <div class="news">
                    <div class="news-icon"></div>
                    <div class="text">42 items</div>
                    <div class="right-faint-text">Out of Stock</div>
                </div>
                <hr>

                <div class="news">
                    <div class="news-icon"></div>
                    <div class="text">42 items</div>
                    <div class="right-faint-text">Out of Stock</div>
                </div>
                <hr>
                <div class="news">
                    <div class="news-icon"></div>
                    <div class="text">42 items</div>
                    <div class="right-faint-text">Out of Stock</div>
                </div>
                <hr>
                <div class="news">
                    <div class="news-icon"></div>
                    <div class="text">42 items</div>
                    <div class="right-faint-text">Out of Stock</div>
                </div>
                <hr>
                <div class="news">
                    <div class="news-icon"></div>
                    <div class="text">42 items</div>
                    <div class="right-faint-text">Out of Stock</div>
                </div>
                <hr>

                </div>
                 
            </div>
        </div>
        

            

        </div>

    </div>
    
</div>
