    <section class = "main">
        <section class="dmain1"> 
       <div id="dmain1-1">     
                    <div><img id="profile-keeper" src="public/assets/keep-profile.jpg" width="100%" /></div>
                    <div>
                        <img id="online" src="public/assets/Ellipse2.png" width="15%" />
                        <div id="admin-name">Admin&nbsp;&nbsp;</div>    
                    </div>
            </div>

            <div id="dmain1-2">

                <div class="" id="dashboard1">Dashboard</div>
                <div class="dash-items" id="dashboard2">Registration</div>
                <div class="dash-items" id="dashboard3">Notifications</div>
                <div class="dash-items" id="dashboard4">Payments</div>
                <div class="dash-items" id="dashboard5">Expenditure</div>
                <div class="dash-items" id="dashboard6">Analytics</div>
                <div class="dash-items" id="dashboard7">Uniform</div>
                <div class="dash-items" id="dashboard8">Settings</div>

            </div>


        </section>

        <!--End of main1 section-->
        
        <section class="dmain2">
            &nbsp;
            <div id="dmain2-1"> &nbsp;
                <div id="dmain2-1-1"> </div>
                <div id="dmain2-1-2"> </div>
            </div>

            <div id="dmain2-2">
                <div id="dmain2-2-1">
                    &nbsp;
                </div>

                <div id="dmain2-2-2">
                    &nbsp;
                </div>

            </div>
        </section>
    </section>
