        <!-- Main content here -->
        <div class="main-box">
            <div class="main-div">
            
                <div class="table-div">
                    <div class="text"><strong>School fees</strong></div></br>
                    <table>
                    <tr>
                        <th class="cell1 top-left-corner" scope="col"><div class="text">ID</div></th>
                        <th scope="col"><div class="text">Name</div></th>
                        <th scope="col"><div class="text">Address</div></th>
                        <th scope="col"><div class="text">Program</div></th>
                        <th scope="col"><div class="text">Salary</div></th>
                        <th scope="col"><div class="text">Rank</div></th>
                        <th scope="col"><div class="text">Role</div></th>
                        <th scope="col"><div class="text">Update</div></th>
                        <th class="top-right-corner" scope="col"><div class="text">Total earned</div></th>
                    </tr>
                    <tr>
                        <td class="cell1"><div class="text">ICON/22/1142</div></td>
                        <td><div class="text">Nsimbe Paul Beven</div></td>
                        <td><div class="text">Kanyanya</div></td>
                        <td><div class="text">256702085568</div></td>
                        <td><div class="text">Full Day</div></td>
                        <td><div class="text">256753770782</div></td>
                        <td><div class="text">Top</div></td>
                        <td><div class="text">750000</div></td>
                        <td><div class="text">600000</div></td>
                    </tr>
                    <tr>
                        <td class="cell1"><div class="text">ICON/22/1142</div></td>
                        <td><div class="text">Nsimbe Paul Beven</div></td>
                        <td><div class="text">Kanyanya</div></td>
                        <td><div class="text">256702085568</div></td>
                        <td><div class="text">Full Day</div></td>
                        <td><div class="text">256753770782</div></td>
                        <td><div class="text">Top</div></td>
                        <td><div class="text">750000</div></td>
                        <td><div class="text">600000</div></td>
                    </tr>
                    <tr>
                        <td class="cell1"><div class="text">ICON/22/1142</div></td>
                        <td><div class="text">Nsimbe Paul Beven</div></td>
                        <td><div class="text">Kanyanya</div></td>
                        <td><div class="text">256702085568</div></td>
                        <td><div class="text">Full Day</div></td>
                        <td><div class="text">256753770782</div></td>
                        <td><div class="text">Top</div></td>
                        <td><div class="text">750000</div></td>
                        <td><div class="text">600000</div></td>
                    </tr>
                    <tr>
                        <td class="cell1"><div class="text">ICON/22/1142</div></td>
                        <td><div class="text">Nsimbe Paul Beven</div></td>
                        <td><div class="text">Kanyanya</div></td>
                        <td><div class="text">256702085568</div></td>
                        <td><div class="text">Full Day</div></td>
                        <td><div class="text">256753770782</div></td>
                        <td><div class="text">Top</div></td>
                        <td><div class="text">750000</div></td>
                        <td><div class="text">600000</div></td>
                    </tr>
                    <tr>
                        <td class="cell1"><div class="text">ICON/22/1142</div></td>
                        <td><div class="text">Nsimbe Paul Beven</div></td>
                        <td><div class="text">Kanyanya</div></td>
                        <td><div class="text">256702085568</div></td>
                        <td><div class="text">Full Day</div></td>
                        <td><div class="text">256753770782</div></td>
                        <td><div class="text">Top</div></td>
                        <td><div class="text">750000</div></td>
                        <td><div class="text">600000</div></td>
                    </tr><tr>
                        <td class="cell1"><div class="text">ICON/22/1142</div></td>
                        <td><div class="text">Nsimbe Paul Beven</div></td>
                        <td><div class="text">Kanyanya</div></td>
                        <td><div class="text">256702085568</div></td>
                        <td><div class="text">Full Day</div></td>
                        <td><div class="text">256753770782</div></td>
                        <td><div class="text">Top</div></td>
                        <td><div class="text">750000</div></td>
                        <td><div class="text">600000</div></td>
                    </tr>





                </table>
                </div>

                

            </div>

        </div>
        
    </div>
