        <!-- Main content here -->
        <div class="main-box">
            <div class="main-div">
                <div class="table-div">
                    <div class="text"><strong>Staff</strong></div></br>
                    <div class="overflow">
                     <table class="mytable" id="fill">  
                        <tr>
                            <th class="cell1 top-left-corner" scope="col"><div class="text">ID</div></th>
                            <th scope="col"><div class="text">Name</div></th>
                            <th scope="col"><div class="text">Gender</div></th>
                            <th scope="col"><div class="text">Class</div></th>
                            <th scope="col"><div class="text">Program</div></th>
                            <th scope="col"><div class="text">Address</div></th>
                            <th scope="col"><div class="text">Fees flag</div></th>
                            <th scope="col"><div class="text">Uniform flag</div></th>
                            <th class="top-right-corner" scope="col"><div class="text">Academic flag</div></th>
                        </tr>
                   
                      </table>
                    </div>
                    </div>
            </div>
        </div>  
    </div>